.navbar-custom {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
.navbar-dark .navbar-brand {
    color: black;
    margin-right: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
}
.navbar-dark .navbar-brand span.plaza {
    font-weight: 700;
}
.navbar-dark .navbar-brand:hover {
	color: black;
}
.navbar-dark .navbar-nav .active>.nav-link {
/*    background: white;
    color: black;
    border-radius: 5px;*/
}
header.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
    padding: 0px;
}

nav.navbar.navbar-expand-md.navbar-dark.navbar-custom {
    height: 75px;
}
a.nav-link {
    color: #666 !important;
    font-family: 'Quicksand', sans-serif;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
.nav-link.active {
    background: #ffd100;
    color: black !important;
    /* border-radius: 20px; */
    -webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    -webkit-box-shadow: 2px 2px 8px #0000003b;
    -moz-box-shadow: 2px 2px 8px #0000003b;
    -o-box-shadow: 2px 2px 8px #0000003b;
    box-shadow: 2px 2px 8px #0000003b;
}
/*Search Button*/
nav button.btn.btn-outline-success.my-2.my-sm-0 {
    background: #ffd100;
    border-color: #ffd100;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    font-size: .8rem;
    border-radius: 0px 25px 25px 0px;
}
nav button.btn.btn-outline-success.my-2.my-sm-0 {
    background: #000000;
    border-color: #000000;
    color: #ffffff;
}

nav button.btn.btn-outline-success.my-2.my-sm-0 .fa {
	color: #ffd100;
	margin-left: 5px;
}
.btn-outline-success.focus, .btn-outline-success:focus, input.form-control.mr-sm-2:focus {
    box-shadow: 0 0 0 3px rgba(255, 209, 0, .4);
}
/*Search Input Field*/
input.form-control.mr-sm-2 {
    margin-right: 0px !important;
    height: 33px;
    border: 1px solid #ddd;	
    border-radius: 25px 0px 0px 25px;
    border-right: 0px solid;
    font-size: .9rem;
    font-family: 'Quicksand', sans-serif;
}
.bg-dark {
    /*background-color: #000000!important;*/
    /*background-color: #134365!important;*/
    background-color: #ffffff!important;
    border-bottom: 1px solid #ddd;
}
@media (min-width: 768px) {
	.navbar-expand-md .navbar-nav .nav-link {
	    padding-right: 1rem;
	    padding-left: 1rem;
	    /* margin: 0 .7rem; */
	    line-height: 1.1;
	    border-radius: 25px;
	}
}