body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000000;
}
a.nav-link:hover {
    color: #007bff !important;
}
.container {
  max-width: 1280px;
}
.container.design > .row {
    /*padding: 0px 15px;*/
}
.design h2 {
    margin-bottom: 30px;
    /* text-align: center; */
    font-size: 3.25em;
    font-weight: 500;
    /* color: #E91E63; */
    color: #6f4c58;
    color: #000;
    margin-top: 4rem;
}
.design h4 {
    margin-top: 1rem;
}
/*.design img.img-responsive {
    width: 100%;
    height: auto;
}*/
.img-fluid {
	width: 100%;
}
.design .col-lg-4 {
    /*max-width: 30%;*/
    margin: 0;
    padding: 15px;
}
.design .col-lg-4:nth-child(2) {
    /*margin: 0 5%;*/
}
.design .col-lg-4 h3 {
    margin: 10px 0px 15px 0px;
}
.featurette-heading span.title-sm {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #999;
    /* border-bottom: 2px solid #ddd; */
    padding: 10px 2px;
    margin-bottom: 10px;
}
span.caption1::before {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    display: block;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
}
span.caption1 {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    width: 175px;
    font-size: .8rem;
    background: #000000;
    color: white;
    padding: 15px 10px;
    text-align: center;
}
span.caption2::before {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
    display: block;
    content: '';
    position: absolute;
    left: -10px;
    top: 40%;
    bottom: 40%;
}
span.caption2 {
    display: block;
    position: absolute;
    bottom: 70px;
    left: 90%;
    width: 175px;
    font-size: .8rem;
    background: #000000;
    color: white;
    padding: 15px 10px;
    text-align: center;
}
p.caption {
    font-size: .8rem;
    font-weight: 600;
    color: black;
    margin-top: 10px;
}
.challenges p.caption {
    text-align: center;
}
.container.sections {
    margin-top: 3rem;
}
.sections .row.featurette {
    margin-top: 2rem;
}
.container.sections .carousel-item {
    background-color: #eee;
    background-image: none;
}

#home, #design, #approach, #urban, #context, #illustrative, #challenges {
	padding-top: 100px;
    margin-top: -100px;
}

.dropdown .dropdown-menu {
    /*display: block;*/
    top: 50px;
    border: none;
    background: #000;
    border-radius: 0;
    min-width: 600px;
    padding: 0px;
}

.dropdown .dropdown-menu .dropdown-item {
    display: inline;
    width: auto;
    color: white;
    padding: 5px 25px;
    font-size: .8rem;
    float: left;
    clear: none;
}
a.active#navbarDropdown {
    border-radius: 25px;
}
.dropdown-item {
	display: none;
	/*left: 0px;*/
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
@keyframes move {
    from {left: 55px;}
    to {left: 25px;}
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    display: block;
    position: absolute;
    top: 33px;
    left: 25px;
    animation-name: move;
    animation-duration: 0.3s;
    width: initial;
    padding: 7px 11px;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .5px;
    border-radius: 0px 20px 20px 20px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-box-shadow: 2px 2px 8px #0000003b;
    -moz-box-shadow: 2px 2px 8px #0000003b;
    -o-box-shadow: 2px 2px 8px #0000003b;
    box-shadow: 2px 2px 8px #0000003b;
}

.dropdown-toggle::after {
    /*display: inline-block;*/
    display: none;
}